<!--[if IE 6]>
<style type="text/css">
.adopt { background-color: #338EC8; }
</style>
<![endif]-->
- content_for :profile do
  .panel
    .panel-content-profile
      %div
        #dog_pic{:style=>"background: url(#{@offer.profile_pic_url}) no-repeat scroll left top rgb(239,239,239); height: 400px; margin-right: 15px;"}
          &nbsp;
      %div{:style=>"float: right; width: 400px"}
        .bubble
          %span
          I'm ready to come home with you!
        .title
          %h1= @offer.name.capitalize
          %p= @offer.lede
          =#image_tag 'price_short.png'
          .days
            %span
              = @offer.days_available
              days
            <br>
            waiting for a home
          .adopt{:onClick => "location.href='#{@offer.listing_page_url}'"} 
            Adopt Now!
        .details
          %p#details_short
            = truncate(@offer.details, 
              :length=>400, 
              :separator => ' ',
              :omission => '...' + link_to('( show more )', '#', :onclick=>"$('#details_long').show(); $('#details_short').hide(); return false;")).html_safe
          %p#details_long{:style=>'display: none'}
            = @offer.details
            <br />
            =link_to '( show less )', '#', :onclick=>"$('#details_short').show(); $('#details_long').hide(); return false;"
            .share
              %p= "Tell your friends! Help #{@offer.name} find #{hisher(@offer) || 'the' } perfect match."
              <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="afurgo" data-related="goodfordogs:Good For Dogs">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
              <a class="social-share-fb" onclick="return fbShare();" title="Share with Facebook">Share</a>
              <span id="share_count" class="social-share-fb-count"></span>
              %script
                =render :partial => 'shared/fbshare', :locals => {:animal => @offer}

- content_for :map do

  .panel
    .panel-content
      .location
        #google-map
          a map
        .details
          %h2.place_name= @offer.outlet_name
          %p.address
            = [@offer.address_1, @offer.suburb, @offer.state, @offer.postcode].compact.join(', ')
            %br
            = "ph. #{@offer.phone}" if @offer.phone

          %p.opening_hours= @offer.opening_hours.gsub("\n","<br>\n").html_safe

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  = javascript_include_tag 'map'
