<!DOCTYPE html>
%html
%head
  %title= content_for(:title).blank? ? 'afurgo.com : Help homeless animals get a second chance' : content_for(:title) 
  = stylesheet_link_tag :all
  <link  href="//fonts.googleapis.com/css?family=Sniglet:800" rel="stylesheet" type="text/css" >
  = javascript_include_tag :defaults
  = csrf_meta_tag 
  = render 'shared/ga'
  <!--[if IE 6]>
  <style type="text/css">
  html { overflow-y: hidden; }
  body { overflow-y: auto; }
  img#bg { position:absolute; z-index:-1; }
  #content { position:static; }
  </style>
  <![endif]-->
%body{:onload=>"initialize()"}
  %img{:id => 'bg', :src=>"/images/backgrounds/#{@city}.jpg", :alt=>"background image"}
  #page-content
    .page
      .header= render 'shared/title'
      .sidebar= render 'shared/nav'
      .main
        = yield
        #footer= render 'shared/footer'

  = render 'shared/fb'
